.hero{
    .flex{
        display: flex;
        .left{
            .herotitle{
                    margin-bottom: 40px;
            }
            .signup_btnlogo{
                @include signup_btnlogo;
            }
        }
        .right{
            .img-box{
                img{
                    width: 100%;
                };
            }
        }
    }
}

.yellow{
    background-color: $bgyellow;
}

main{
    .yellow{
        .flex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .up{
                .flex{
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}