.hero{
    .flex{
        display: flex;
        .left{
            .herotitle{
                    margin-bottom: 40px;
            }
            .signup_btnlogo{
                @include signup_btnlogo;
            }
        }
        .right{
            .img-box{
                img{
                    width: 100%;
                };
            }
        }
    }
}

.yellow{
    background-color: $bgyellow;
}

main{
    .yellow{
        padding-top: 50px;
        .yellow_section{
            .flex{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    padding: 0 250px;
                }
                .up{
                    .flex2{
                        display: flex;
                        align-items: center;
                        .img-box{
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 50px;
                            img{
                                height: 100px;
                                width: 100%;
                                object-fit: contain;
                                margin-bottom: 30px;
                            }
                            div{
                                font-size: $fontsmall;
                                text-align: center;
                            }
                        }
                    }
                }
                .down{
                    text-align: center;
                    .img-box{
                        height: 250px;
                        margin-bottom: 100px;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
    hr{
        margin-bottom: 100px;
        &#hrblack{
            color: black;
            height: 0.1px;
            opacity: .8;
        }
    }
}

.white{
    margin: 50px 0;
    .flex{
        display: flex;
        flex-direction: column;
        .sect{
            margin-bottom: 50px;
        }
        .sect{
            @include wpresentation;
        }
    }
}