.hero{
    .flex{
        display: flex;
        .left{
            .herotitle{
                    margin-bottom: 40px;
            }
            .signup_btnlogo{
                @include signup_btnlogo;
            }
        }
        .right{
            .img-box{
                img{
                    width: 100%;
                };
            }
        }
    }
}

main{
    .yellow{
        .yellow_section{
            .flex{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h2{
                    padding: 0 250px;
                }
                .up{
                    .flex2{
                        display: flex;
                        align-items: center;
                        .img-box{
                            display: flex;
                            flex-direction: column;
                            margin-bottom: 50px;
                            img{
                                height: 100px;
                                width: 100%;
                                object-fit: contain;
                                margin-bottom: 30px;
                            }
                            div{
                                font-size: $fontsmall;
                                text-align: center;
                            }
                        }
                    }
                }
                .down{
                    text-align: center;
                    .img-box{
                        height: 250px;
                        margin-bottom: 100px;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
    hr{
        margin-bottom: 100px;
        &#hrblack{
            color: black;
            height: 0.1px;
            opacity: .8;
        }
    }
}

.white{
    margin: 50px 0;
    .flex{
        display: flex;
        flex-direction: column;
        .sect{
            margin-bottom: 50px;
        }
        .sect{
            @include wpresentation;
        }
    }
}
.yellow{
    .getstarted_section{
        .flex{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                .img-box{
                    position: relative;
                    img{
                        position: absolute;
                        top:0;
                        left: 10px;
                    }
                    
                }
            }
            .txtmsg_box{
                width: 700px;
                border: 1px solid $colorfontblue;
                border-radius: 10px;
                background-color: white;
                padding:20px;
                font-size: $fontsmall;
                .txtmsg2{
                    .flex{
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        .img-box{
                            height: 50px;
                            img{
                                height: 100%;
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                        .names{
                            color: $colorfontblue;
                        }
                        
                    }
                }
            }
            .signup_btnlogo{
                @include signup_btnlogo;
                margin: 50px 0;
            }
        }
    }
}