/* Variabili necessarie: */
$bgwhite: white;
$bgyellow: #FFE7D2;


//font
$colorfont: #58402C;
$colorfontblue: #3E5097;
$font_family: 'Roboto', sans-serif;
$font_size: 16;
$line_height: 1.5;
$fontbold: 800;
$fontboldh1: 900;
$fontboldh2: 700;
$fontsmall: 12;
 

//btn
$colorbtn: #2E4790;
$bgbtngoogle: white;
$colorbtngoogle: #3D58AA;

$spacing: 20px;
$separator_color: rgba(0, 0, 0, 0.2);
$transition_duration: 0.2s;